services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: agent_ai
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - DEBUG=1
      - DB_HOST=postgres
      - DB_NAME=agent_ai
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_PORT=5432
      - ADMIN_EMAIL=admin@example.com
      - ADMIN_PASSWORD=admin123
      - ZAMMAD_URL=https://perfeo.duckdns.org
      - TOKEN_ZAMMAD=dVU8kWcw-fjVx-gi64FMBDxr3-j-pHPqcnip7y3oBjXeX5OcY6oY3S4NgyxeC7uw
      - OPEN_ROUTER_API_KEY=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

    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    networks:
      - app-network
    dns:
      - 8.8.8.8
      - 8.8.4.4

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
